.heading{
  color: black;
}
.line{
  width:200px;
  height: 5px;
  background:black;
  margin: auto;
}
.btn-primary{
  background-color: black;
  border-radius: 0%;
  border: none;
}

.btn-primary:hover{
  background-color: slategray;
}

.head{
  background-color: slategray;
  color:black;
  padding: 20px
}